.popup {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  transition: visibility 0.1s, opacity 0.2s ease-in-out;
  visibility: hidden;
  display: flex;
  opacity: 0;
  z-index: 1;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  width: 520px;
  min-height: 100vh;
  z-index: 55;
  position: absolute;
  top: 0;
  right: 0;
  background: #202020
}

.popup__close-icon {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 22px;
  right: 22px;
  background-position: center;
}

.navigatemenu-links {
  display: flex;
  margin: 159px auto 0;
  width: 320px;
  gap: 28px;
  flex-direction: column;
}

.navigatemenu-link {
  display: flex;
  height: 22px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}

.active {
  border-bottom: 2px solid #fff;
}

.navigatemenu-account {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 621px auto 0;
  width: 100px;
  height: 30px;
  background: #313131;
  padding: 8px 20px;
}

@media screen and (max-width: 750px) {
  .popup__container {
    width: 320px;
  }
  .navigatemenu-links {
    width: 300px;
    margin: 144px auto 0;
    gap: 24px;
  }
  .navigatemenu-account {
    margin: 444px auto 0;
  }

}