.portfolio__container {
  display: flex;
  flex-direction: column;
  width: 1140px;
  height: 405px;
  margin: 0 auto;
  padding: 0;
}
.portfolio__title {
  width: 250px;
  color: #8B8B8B;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.portfolio__links {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px 0 125px;
  padding: 0;
  list-style-type:  none;
}

.portfolio__item {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
}
.portfolio__link {
  text-decoration: none; 
}

.portfolio__heading {
  margin: 0;
  padding: 0 0 19px 0;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  color: #fff;
}

.portfolio__icon {
  line-height: 60px;
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .portfolio__container {
    width: 668px;
    height: 370px;
  }
  .portfolio__title {
    color: #A0A0A0;
  }
  .portfolio__links {
    margin: 50px 0 90px;
  }
  .portfolio__heading {
    font-size: 28px;
  }
  
}

@media screen and (max-width: 500px) {
  .portfolio__container {
    width: 292px;
    height: 274px;
  }
  .portfolio__title {
    font-size: 14px;
  }
  .portfolio__links {
    margin: 40px 0 70px;
  }
  .portfolio__heading {
    font-size: 18px;
    line-height: 28px;
    width: 250px;
    

letter-spacing: -0.72px;
  }
  .portfolio__icon {
    height: 28px;
    width: 18px;
  }
}